* {
  text-align: center;
  color: #F8F7F7;
}

h1 {
    font-family: "Space Grotesk";
    text-transform: uppercase;
    font-weight: 650;
    font-size: 50px;
    margin: 10px;
}

p {
    font-family: "Rubik";
    font-size: 18px;
}

body {
    background-color: #121212;
  }

ul {
  list-style-type: none;

}

.card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.item-card {
  border: solid plum 5px;
  padding: 20px;
  flex: 0 1 280px;
}

.add {
  display: flex;
  justify-content: space-evenly;
}

.text {
    padding-left: 40px;
    padding-right: 40px;
}

.suns {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #FFF;
    border-radius: 50%;
    animation: starMove 25s linear infinite;
  }
  
  @keyframes starMove {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh);
    }
  }

  @media screen and (max-width: 1000px) {
    .card {
      flex-direction: column;
    }

    .add {
      flex-direction: column;
    }
  }