h1 {
    font-family: "Space Grotesk";
    text-transform: uppercase;
    font-weight: 650;
    font-size: 50px;
    margin: 10px;
}

p {
    font-family: "Rubik";
    font-size: 18px;
}

body {
    background-color: #121212;
  }

* {
    text-align: center;
    color: #F8F7F7;
}

.planets {
    display: flex;
    justify-content: space-evenly;
}

.card {
    padding: 10px;
}

.text {
    padding-left: 40px;
    padding-right: 40px;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #FFF;
    border-radius: 50%;
  
    animation: starMove 25s linear infinite;
  }
  
  @keyframes starMove {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh);
    }
  }  